body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .profile p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  
  .social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .social-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  